<section id="planos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Planos</h2>
            </div>
        </div>
        <div class="container content">
            <div class="row">

                <div class="col-md-3" *ngFor="let planos of planos">
                    <div class="pricing hover-effect">
                        <div class="pricing-head">
                            <span class="recommended-plan-ribbon" *ngIf="planos.maisUsado">Mais popular</span>
                            <h3>{{ planos.titulo }}<span> {{ planos.descricao }} </span> </h3>
                            <h4><i>R$</i> {{ planos.valor.toFixed(2) }}
                            <span>
                            Por mês </span>
                            </h4>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li>
                                <strong> {{ planos.qtdUsuarios == 9999 ? 'ilimitado' :  planos.qtdUsuarios}} </strong> usuário
                            </li>
                            <li>
                                <ng-template [ngIf]="!planos.usaBoleto" [ngIfElse]="boletos">
                                    <del >Boletos</del>
                                </ng-template>
                                
                                <ng-template #boletos>
                                        <strong>{{ planos.qtdBoleto == 9999 ? 'ilimitado' :  planos.qtdBoleto}}</strong> Boletos
                                </ng-template>
                            </li>
                            <li>
                                <ng-template [ngIf]="!planos.usaNfProd" [ngIfElse]="nfP">
                                        <del>NF de produtos</del>
                                </ng-template>
                                
                                <ng-template #nfP>
                                        <strong>{{ planos.qtdNfProd == 9999 ? 'ilimitado' :  planos.qtdNfProd}}</strong> NF de Produtos
                                </ng-template>
                            </li>
                            <li>
                                <ng-template [ngIf]="!planos.usaNfServ" [ngIfElse]="nfS">
                                        <del>NF de Serviços</del>
                                </ng-template>
                                
                                <ng-template #nfS>
                                        <strong>{{ planos.qtdNfServ == 9999 ? 'ilimitado' :  planos.qtdNfServ}}</strong> NF de Serviço
                                </ng-template>
                            </li>
                            <li *ngIf="planos.suporte">
                                <strong>Suporte Grátis</strong>
                            </li>
                        </ul>
                        <div class="pricing-footer">
                            
                            <a href="cadastro.html" class="btn btn-lg btn-block btn-success">
                            ASSINE AGORA
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>