<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark navbar-static-top">
    <a href=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mega-dropdown dropdown" ng-class="active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Soluções
                    </a>
                    <ul class="dropdown-menu mega-dropdown-menu row">
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Tenha Mais Controle</li>
                                <li><a href="#">Controle financeiro</a></li>
                                <li><a href="#">Emissão de boletos</a></li>
                                <li><a href="#">Venda, OS e orçamento</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Automatize Sua Gestão</li>
                                <li><a href="#">Emissão de NF, NFE-S, danfe</a></li>
                                <li><a href="#">Conciliação bancária</a></li>
                                <li><a href="#">Importação NF de entrada</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Tenha Visão Geral</li>
                                <li><a href="#">DRE gerencial</a></li>
                                <li><a href="#">Fluxo de caixa</a></li>
                                <li><a href="#">Centro de custos</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Para Contadores</li>
                                <li><a href="#">Integração contábil</a></li>
                                <li><a href="#">Painel do contador</a></li>
                                <li><a href="#">Recebimento de NF</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item " ng-class="active">
                    <a class="nav-link" href="#planos">Planos</a>
                </li>
                <li class="nav-item" ng-class="active">
                    <a class="nav-link" href="#equipe">Nossa equipe</a>
                </li>
                <li class="nav-item" ng-class="active">
                    <a class="nav-link" href="#">Casos de sucesso</a>
                </li>
                <li class="nav-item" ng-class="active">
                    <a class="nav-link" href="#">Parceiros</a>
                </li>
                <li class="nav-item" ng-class="active">
                    <a class="nav-link" href="#contact">Contato</a>
                </li>
                <li class="nav-item" ng-class="active">
                    <a class="nav-link" href="#">Suporte</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<app-header></app-header>