<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Empresa</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#">Planos e Preços</a></li>
						<li><a href="#">Histórias de Sucesso</a></li>
						<li><a href="#">Materiais</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Sobre a Empresa</a></li>
						<li><a href="#">Cultura</a></li>
						<li><a href="#">Engenharia</a></li>
						<li><a href="#">Carreiras</a></li>
						<li><a href="#">Contato</a></li>
						<li><a href="#">Status</a></li>
						<li><a href="#">Central de Ajuda</a></li>
						
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Soluções</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#">Sistema ERP</a></li>
						<li><a href="#">Financeiro</a></li>
						<li><a href="#">Serviços</a></li>
						<li><a href="#">Produtos</a></li>
						<li><a href="#">Estoque</a></li>
						<li><a href="#">Relatórios</a></li>
						<li><a href="#">Integração com Contador</a></li>
						<li><a href="#">App Vendas</a></li>
						<li><a href="#">Notas fiscais e boletos</a></li>
						<li><a href="#">Frente de Caixa Online</a></li>
						<li><a href="#">Integrações</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Parceiros</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#">Como funciona para Contadores</a></li>
						<li><a href="#">Programa de Contadores Parceiros</a></li>
						<li><a href="#">Benefícios do Programa</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</div>	
		</div>
	</section>