.navbar-border {
    border-bottom: 1px solid #6c757d;
}
.img-logo {
    position: relative;
    height: 47px;
}
.navbar .collapse .my-2 .fa-sign-in,
.navbar .collapse .my-2 .fa-sign-in a  {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
}
.navbar .collapse .my-2 .fa-sign-in a  {
    font-family: 'Roboto', sans-serif!important;
}
@media (min-width: 768px){
    .navbar-right {
        float: right!important;
        margin-left: 186px;
        margin-right: 100px!important;
    }
}
.navbar .container .collapse .navbar-nav .nav-item .btn {
    margin-left: 10px;
}
.navbar .container .collapse .navbar-nav .nav-item .navbar-text-phone,
.navbar .container .collapse .navbar-nav .nav-item .navbar-number-phone {
    
    color: white;
    text-transform: uppercase;
    margin-left: 10px;
}
.navbar .container .collapse .navbar-nav .nav-top {
    padding-top: 8px!important;
    font-size: 16px;
}